{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:jasmine/recommended"
   ],
  "plugins": [
    "react",
    "mocha",
    "jasmine"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "no-undef": 2,
    "strict": [2, "global"],
    "no-underscore-dangle": 0,
    "react/jsx-uses-vars": 2,
    "eqeqeq": "error",
    "no-eq-null": "error",
    "no-loop-func": "error",
    "no-duplicate-imports": "error"
  }
}
