@import 'colors';

.bar-graph-group {
    
    display: flex;
    max-width: 1800px;
    padding-bottom: 4rem;

    &__column {
        flex: 1 1;
    }
    .fullscreen & {
        margin: 0 auto;
    }

    &__search-help {
        font-size: 0.8rem;
        text-align: center;
        padding: .2rem 0;
        background-color: $axis;
    }

    &__list {
        text-align: left;
        position: relative;
        display: block;
        &+.bar-graph-group__list {
            margin-top: 2rem;
        }
        &__copy {
            margin: 0 auto;
            position: relative;
            display: block;
            padding: 5px auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            &-wrapper {
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: +1;
            }
        }
        
        .bar-graph-group__filter__dimension {
            margin-top: 3rem;
            margin-left: 1.5rem;

            &__button {
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                word-break: normal;
                max-width: 250px;
                white-space: nowrap;
                padding: 0 2rem 0 .5rem;
                margin: .5rem;

                .glyphicon {
                    position: absolute;
                    right: .4rem;
                    line-height: 1.6rem;
                    margin-left: .4rem;
                }
            }
        }
        .panel {
            height: 100%;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            // background-image: linear-gradient(to bottom, $background, $white);
            .panel-heading {
                h4 {
                    max-width: 68%;
                    overflow: hidden;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    text-overflow: ellipsis;
                }
            }
            .bar-graph-group__actions {
                float: right;
                margin: -.2rem -.6em 0 0;
                position: relative;
                .btn {
                    padding: .2rem .2rem .6rem;
                }
                .glyphicon {
                    float: right;
                    font-size: 1.2rem;
                    margin: .2rem .6rem 0;
                }
            }
            .panel-body {
                font-size: .9rem;
                max-height: 20rem;
                overflow-y: scroll;
                padding: 0;
            }
        }

        &__search {
            margin-bottom: 0;
        }

        &__content--empty {
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
        }

        & .dimension-graph__label:hover {
            max-width: inherit;
            overflow: visible;
        }
    }
}
